html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	font-size: 12px;
}

.tb-top {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 178px;
}

.tb-center {
	position: absolute;
	top: 178px;
	left: 2px;
	right: 2px;
	bottom: 40px;
	transition: all 0.3s;
}

.tb-center.on {
	bottom: 320px;
}

.tb-foot {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 40px;
	left: 0px;
	background-color: #ddd;
	transition: all 0.3s;
}

.tb-foot.on {
	height: 320px;
}

.top-header {
	height: 36px;
}

.toolbars {
	height: 90px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px 0px 5px 0px;
}

.toolbars .group {
	height: 90px;
	width: 100px;
	min-width: 100px;
	border-left: 1px solid #ddd;
	float: left;
}

.top-foot {
	height: 40px;
	padding-top: 8px;
}

.top-header>div {
	display: inline-block;
	float: left;
}

.top-header .logo {
	background-image: url(../img/logoNew.png);
	height: 36px;
	width: 36px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.top-header .title {
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
}

.showtable {
	height: 100%;
	width: 100%;
}

.group .body {
	width: 100%;
	text-align: center;
	height: 70px;
}

.group .body .sub {
	height: 34px;
}

.group .body .sub.sub-left {
	display: inline-block;
	float: left;
	height: 60px;
	width: 65px;
}

.group .body .sub.sub-right {
	display: inline-block;
	float: right;
	height: 60px;
	width: 65px;
}

.group .body .sub.sub-top {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.group .body .sub.sub-bottom {
	width: 97%;
	height: 26px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.group .foot {
	height: 20px;
	position: relative;
	text-align: center;
}

.group .foot:after {
	/* content: " "; */
	position: absolute;
	right: 0;
	bottom: 0;
	width: 7px;
	height: 7px;
	display: block;
	background: url(../img/toolbar.png) no-repeat -45px -64px;
	cursor: pointer;
}

.group.common {
	width: 150px;
}

.group.clipboard {
	width: 130px;
}

.group.font {
	width: 230px;
}

.group.alignment {
	width: 204px;
}

.group.cells {
	width: 311px;
}

.group.edit {
	width: 150px;
}

.group.pagesetting {
	width: 285px;
}

.group.pagesetting .body {
	text-align: left;
	padding-left: 10px;
}

.group.pagesetting label {
	margin-right: 5px;
}

.group.alignment .body .sub.sub-left {
	width: 80px;
	margin-left: 10px;
	border-right: 1px solid #ddd;
	padding-right: 6px;
}

.group.alignment .body .sub.sub-right {
	width: 90px;
	margin-right: 10px;
}

.group.cells .body .sub.sub-left {
	width: 85px;
	margin-left: 10px;
	padding-right: 6px;
}

.group.cells .body .sub.sub-right {
	width: 204px;
}

.group.edit .body .sub.sub-left {
	width: 45px;
	margin-left: 10px;
	padding-right: 6px;
}

.group.edit .body .sub.sub-right {
	width: 75px;
	padding-right: 10px;
}

.toolbars .group .tag-btn {
	width: 65px;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0px;
	height: 28px;
	text-align: left;
	display: inline-block;
}

.toolbars .group .tag-btn:hover {
	background-color: #ddd;
}

.toolbars .group .tag-btn.on {
	background-color: #ddd;
}

.group .tag-btn>span {
	display: inline-block;
	font-size: 12px;
	float: left;
	/* height: 28px; */
	/* line-height: 28px; */
	margin-left: 4px;
}

.group .input-group {
	width: 100%;
	height: 26px;
	line-height: 26px;
	margin-bottom: 4px;
}

.group .input-group label {
	width: 20%;
	float: left;
}

.group .input-group input {
	width: 77%;
	float: left;
	border-radius: 2px;
	border: 1px solid #ddd;
	height: 24px;
	padding: 0px;
	outline: none;
}

.group.clipboard .paste-btn {
	width: 45px;
	height: 60px;
	text-align: center;
}

.group.font .tag-btn {
	width: 25px;
	height: 24px;
	text-align: center;
}

.group.alignment .tag-btn {
	width: 24px;
	height: 24px;
	text-align: center;
}

.group.alignment .tag-btn.merge-btn {
	width: 85px;
	height: 24px;
}

.group.alignment .tag-btn.split-btn {
	width: 85px;
	height: 24px;
}

.group.cells .tag-btn.wrap-btn {
	width: 85px;
}

.group.cells .tag-btn.rows-btn {
	width: 45px;
	height: 60px;
	display: inline-block;
}

.group.cells .tag-btn.cols-btn {
	width: 45px;
	height: 60px;
	display: inline-block;
}

.group.cells .tag-btn.frame-btn {
	width: 45px;
	height: 60px;
	display: inline-block;
}

.group.edit .tag-btn.exp-btn {
	width: 45px;
	height: 60px;
	display: inline-block;
}

.toolbars .group .tag {
	background-image: url(../img/toolbar.png);
	display: inline-block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 0px;
	margin-left: 9px;
	margin-right: 0px;
	float: left;
}

.group.font .tag {
	margin-left: 3px;
}

.group.alignment .tag {
	margin-left: 3px;
}

.toolbars select {
	border: 1px solid #ddd;
	height: 24px;
	outline: none;
}

.toolbars .tag.modif {
	background-position: -59px -59px;
}

.toolbars .tag.save {
	background-position: -59px -59px;
}

.toolbars .tag.upload {
	background-position: -249px -59px;
	margin-right: 4px;
}

.webuploader-pick {
	padding: 0px;
	background-color: transparent;
	color: #000;
}

.toolbars .tag.view {
	background-position: -230px -59px;
}

.toolbars .tag.paste {
	width: 36px;
	height: 38px;
	margin-left: 0px;
}

.toolbars .tag.cut {
	background-position: -2px -39px;
	width: 17px;
	height: 18px;
}

.toolbars .tag.copy {
	background-position: -20px -39px;
	width: 17px;
	height: 18px;
}

.toolbars .fontfamily {
	width: 130px;
	height: 26px;
	margin-left: 10px;
}

.toolbars .fontsize {
	width: 70px;
	height: 26px;
	margin-right: 10px;
}

.toolbars .category {
	width: 85px;
	height: 26px;
}

.toolbars .orientation {
	width: 85px;
	margin-bottom: 8px;
}

.toolbars .paging {
	width: 85px;
}

.toolbars .tag.bold {
	background-position: -40px -39px;
	margin-left: 5px;
}

.toolbars .tag.italic {
	background-position: -58px -39px;
	margin-left: 4px;
}

.toolbars .tag.underline {
	background-position: -78px -39px;
	margin-left: 5px;
}

.toolbars .tag.strike {
	background-position: -96px -39px;
}

.toolbars .tag.bgColor {
	background-position: -115px -38px;
	height: 18px;
	width: 18px;
}

.toolbars .tag.fontColor {
	background-position: -133px -38px;
	height: 18px;
	width: 18px;
}

.toolbars .tag.topAlign {
	background-position: -153px -38px;
	width: 19px;
}

.toolbars .tag.velAlign {
	background-position: -172px -38px;
	width: 19px;
}

.toolbars .tag.bottomAlign {
	background-position: -190px -38px;
	width: 20px;
}

.toolbars .tag.leftAlign {
	background-position: -210px -38px;
	width: 19px;
}

.toolbars .tag.levelAlign {
	background-position: -229px -38px;
	width: 19px;
}

.toolbars .tag.rightAlign {
	background-position: -246px -38px;
	width: 19px;
}

.toolbars .tag.merge {
	background-position: -266px -38px;
	width: 19px;
	height: 19px;
	margin-left: 0px;
}

.toolbars .tag.split {
	background-position: -285px -38px;
	width: 19px;
	height: 19px;
	margin-left: 0px;
}

.toolbars .tag.wrap {
	background-position: -267px -77px;
	width: 19px;
	height: 19px;
}

.toolbars .tag.rows {
	width: 36px;
	height: 38px;
	margin-left: 0px;
	background-position: -38px 0px;
}

.toolbars .tag.cols {
	width: 36px;
	height: 38px;
	margin-left: 0px;
	background-position: -75px 0px;
}

.toolbars .tag.frame {
	width: 37px;
	height: 38px;
	margin-left: 4px;
	background-position: -115px 0px;
}

.toolbars .tag.exp {
	width: 37px;
	height: 38px;
	margin-left: 0px;
	background-position: -152px 0px;
}

.top-foot .dot {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(../img/toolbar.png);
	background-position: -112px -56px;
	background-repeat: no-repeat;
	float: left;
	margin: 1px;
}

.top-foot .btn {
	float: left;
	border: 1px solid #ddd;
	height: 22px;
	margin-right: 5px;
	width: 24px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.top-foot .btn i {
	width: 20px;
	height: 19px;
	display: inline-block;
	background-image: url(../img/toolbar.png);
	background-position: -132px -57px;
	background-repeat: no-repeat;
	float: left;
	margin: 1px;
}

.top-foot .btn i.expNo {
	
}

.top-foot .btn i.expYes {
	background-position: -169px -57px;
}

.top-foot .btn i.expFor {
	background-position: -207px -57px;
}

.top-foot .form {
	float: left;
}

.top-foot .form>input {
	border: 1px solid #ddd;
	outline: none;
	height: 20px;
	border-radius: 2px;
	width: 360px;
}

.top-foot .parmdic {
	float: left;
	margin-left: 10px;
}

.top-foot .parmdic>label {
	
}

.top-foot .parmdic>input {
	border: 1px solid #ddd;
	outline: none;
	height: 20px;
	border-radius: 2px;
}

.select-div {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-shadow: 0px 3px 8px 0px #ddd;
	z-index: 102;
	cursor: pointer;
}

.select-div li {
	margin: 0px;
	padding: 5px 10px;
}

.select-div li:hover {
	background-color: #DDDDDD;
}

.foot-switch {
	width: 40px;
	height: 40px;
	float: right;
	display: block;
	background-image: url(../img/tags/upanddown.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30%;
	z-index: 10;
	position: absolute;
	right: 0px;
	top: 0px;
}

/*tab*/
.prop {
	width: 100%;
	height: 100%;
	float: left;
	position: absolute;
	top: 0px;
	overflow: hidden;
}

.box .tabs {
	height: 40px;
	line-height: 40px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.box .tabs .tab {
	float: left;
	padding: 0 10px;
	position: relative;
	cursor: pointer;
	/* border: 1px solid #000; */
	border-bottom: none;
}

.box .tabs .tab.on {
	background-color: #ffffff;
}

.box .content {
	width: 100%;
	padding: 0px;
	height: 280px;
	margin-top: 0px;
	background-color: #ffffff;
}

.box .content .ct {
	display: none;
	height: 100%;
	position: relative;
}

.box .content .ct.on {
	display: block;
}

/*cell*/
.htCore td.over {
	background-color: #DDDDDD;
}

.htCore td.bold {
	font-weight: bold;
}

.htCore td.italic {
	font-style: italic;
}

.htCore td.underline {
	text-decoration: underline;
}

.htCore td.strike {
	text-decoration: line-through;
}

.htCore td.strike-underline {
	text-decoration: line-through underline;
}

.progress-bg {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.progress-body {
	position: absolute;
	width: 300px;
	height: 20px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #fff;
	margin: auto;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 18px 0px #02baff;
}

.progress-line {
	width: 0px;
	height: 100%;
	background-color: #02baff;
}

/*datasets*/
#dataSetsInfo {
	display: none;
	padding: 10px;
}

#dataParmsInfo {
	display: none;
	padding: 10px;
}

.input-items {
	display: block;
	position: relative;
	width: 400px;
	margin: auto;
	margin-bottom: 10px;
	vertical-align: top;
}

.input-items label {
	text-align: right;
	width: 80px;
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.input-items input[type=text] {
	width: 294px;
	height: 22px;
	padding: 0px;
	border: 1px solid #ddd;
}

.input-items input[type=checkbox] {
	padding: 0px;
	border: 1px solid #ddd;
}

.input-items textarea {
	padding: 0px;
	border: 1px solid #ddd;
	width: 294px;
	height: 100px;
	display: inline-block;
}

.input-items .intro {
	padding-left: 90px
}

.input-items select {
	padding: 0px;
	border: 1px solid #ddd;
	width: 296px;
	height: 24px;
}

.icon {
	font-style: normal;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	display: block;
	text-align: center;
	line-height: 19px;
	font-size: 20px;
	cursor: pointer;
}

.icon-insert {
	float: left;
}

.icon-del {
	float: right;
}

.parm-list {
	width: 100%;
	text-align: left;
}

.parm-list .parm-item {
	height: 22px;
	width: 321px;
	margin: 0 auto;
	padding-left: 120px;
	margin-bottom: 5px;
}

.parm-item select {
	display: inline-block;
	width: 150px;
	height: 22px;
	float: left;
	margin-right: 5px;
	border: 1px solid #ddd;
}

.btn-group {
	float: left;
}

.btn-group .icon:first-child {
	/* border-radius: 5px 0px 0px 5px; */
	
}

.btn-group .icon:last-child {
	/* border-radius: 0px 5px 5px 0px; */
	margin-left: -1px;
}

.nospace {
	height: 32px;
	display: block;
}

.dataTrees {
	width: 50%;
	float: left;
	height: 100%;
	overflow: auto;
}

.dataTrees .tb_btn {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 0 10px;
	margin-left: 10px;
}

#dataSets {
	
}

#dataParms {
	
}

.formatterBtn {
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	outline: none;
	left: 100px;
}

#temlist {
	padding: 1px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 200px;
	margin-left: 20px;
}

.dataLink select {
	padding: 1px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 200px;
	margin-left: 20px;
}

.dataLink input[type=button] {
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: 10px;
}

#plist {
	
}

#plist .top {
	
}

.border-btn {
	display: inline-block;
	width: 100px;
	padding: 0;
	margin: 0;
	position: relative;
	top: -6px;
}

.border-btn li {
	list-style: none;
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
}

.toolbars .group .border-btn .tag {
	width: 18px;
	height: 18px;
	margin-left: 3px;
	margin-top: 3px;
}

.overlap-view {
	width: 50%;
	float: left;
	height: 290px;
	margin-left: 1%;
}

.overlap-size {
	width: 41%;
}

.overlap-config {
	width: 41%;
	height: 200px;
}

.linenames-div {
	margin-top: 10px;
}

#overlap-items {
	margin: 10px;
}

#overlap-items input {
	margin-top: 0px;
	display: inline-block;
	/* width: 130px; */
	margin-right: 10px;
}

#overlap-items input[name=xpos] {
	width: 40px;
}

#overlap-items input[name=ypos] {
	width: 40px;
	margin-right: 0px;
}

#view-border {
	border: 1px solid #000;
	margin: 0px auto;
}

#view-td {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#viewOverlap {
	background-color: #fff;
	border: 1px solid #ddd;
}

.border-btn li .btn-borderLeft {
	background-position: -38px -76px
}

.border-btn li .btn-borderRight {
	background-position: -57px -76px
}

.border-btn li .btn-borderTop {
	background-position: -19px -76px
}

.border-btn li .btn-borderBottom {
	background-position: -0px -76px
}

.border-btn li .btn-borderOut {
	background-position: -76px -76px
}

.border-btn li .btn-borderIn {
	background-position: -95px -76px
}

.border-btn li .btn-borderAll {
	background-position: -133px -76px
}

.border-btn li .btn-borderNode {
	background-position: -114px -76px
}

.border-btn li:hover {
	background: #ddd;
}

.rdp-cropper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	opacity: 0;
}

.rdp-cropper-body {
	background-color: #f7f7f7;
	text-align: center;
	height: 450px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 720px;
	overflow: hidden;
}

.rdp-img-container {
	height: 300px;
	/* background-color: #ff0; */
	width: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.rdp-img-container img {
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
}

.rdp-img-toolbars {
	position: absolute;
	top: 300px;
	left: 0px;
	width: 500px;
	bottom: 0px;
	padding-top: 30px;
}

.rdp-img-menu {
	margin: 10px auto;
	padding: 0px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.rdp-img-menu .menu-item {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #1E9FFF;
	color: #fff;
	font-size: 16px;
}

.rdp-img-menu .menu-item.active, .rdp-img-menu .menu-item:hover {
	background-color: #2585ee;
}

.rdp-img-menu .menu-item.docs-toggles {
	width: 40px;
	height: 30px;
	font-size: 12px;
}

.rdp-img-menu .menu-item.docs-toggles label {
	width: 40px;
	height: 30px;
	display: block;
}

.rdp-img-menu .menu-item.menu-before {
	margin-left: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.rdp-img-menu .menu-item.menu-after {
	margin-right: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;
}

.rdp-img-view {
	width: 220px;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.rdp-img-preview {
	height: 80px;
	/* background-color: #f00; */
	width: 160px;
	margin: 20px auto;
	margin-bottom: 10px;
	overflow: hidden;
	box-shadow: 5px -3px 10px 5px #ddd;
}

.input-group {
	text-align: left;
	padding-left: 0px;
	padding-bottom: 6px;
	display: flex;
}

.input-group .input-group-text {
	width: 55px;
	display: inline-block;
	font-size: 12px;
	background-color: #e9ecef;
	color: #7d7d7d;
	height: 20px;
	line-height: 20px;
}

.input-group label.input-group-text {
	border-radius: 5px 0px 0px 5px;
	padding-left: 10px;
	border: #ced4da 1px solid;
	border-right: none;
}

.input-group span.input-group-text {
	border-radius: 0px 5px 5px 0px;
	padding-left: 5px;
	border: #ced4da 1px solid;
	border-left: none;
	width: 28px;
}

.input-group .form-control {
	width: 80px;
	border: none;
	border-top: #ced4da 1px solid;
	border-bottom: #ced4da 1px solid;
	padding: 2px 5px;
	outline: none;
}

.input-group .form-control.no-unit {
	border-radius: 0px 5px 5px 0px;
	border-right: #ced4da 1px solid;
	width: 113px;
}

.fieldset-ratio {
	width: 196px;
	margin: 0px;
	padding: 0px;
	margin-left: 9px;
	border-style: dashed;
}

.fieldset-ratio legend {
	
}

.fieldset-ratio .input-group {
	padding-left: 3px;
}

.rdp-cropper-body .docs-ctrl {
	padding-top: 20px;
	text-align: center;
}

.curr-img {
	border: 2px dotted #000;
	/* z-index: 101 !important; */
}

.tb-foot.tb-foot_left {
	right: -400px;
	bottom: 0px;
	height: auto;
	left: unset;
	top: 0px;
	width: 400px;
	z-index: 104;
	box-shadow: 0px 0px 5px #757272;
}

.tb-foot.tb-foot_left.on {
	right: 0px;
}

.tb-foot.tb-foot_left .foot-switch {
	right: unset;
	left: -40px;
	transform: rotate(90deg);
}

.tb-foot.tb-foot_left .box {
	height: 100%;
}

.tb-foot.tb-foot_left .box .content {
	height: 100%;
}

.tb-foot.tb-foot_left .dataTrees {
	width: 100%;
	height: 50%;
}
.tb-center.tb-center_left{
	bottom: 0px;
}

line.guide_line{
    display: block;
    position: fixed;
       border-left: 1px dashed red;
    width: 1px;
    top: 178px;
}
line.guide_line.A3_guide{
 	left: 955px;
}
line.guide_line.A4_guide{
	 left: 655px;
}
line.guide_line.A5_guide{
 	left: 445px;
}
line.guide_line.B4_guide{
 	left: 855px;
}
line.guide_line.B5_guide{
 	left: 575px;
}