@CHARSET "UTF-8"; html, body {
    height: 100%
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 12px;
    font-family: "Microsoft YaHei", SimSun, Arial, Sans-Serif;
}

#searchaddition {
    height: 100%;
    overflow-y: auto;
}

.form-group {
    min-width: 240px;
    margin-top: 15px;
    order: 1;
    margin-left: 30px;
    height: 40px;
}

.form-group:LAST-CHILD {
    margin-bottom: 100px;
}

.form-group .form-label {
    width: 110px;
    padding: 8px 15px;
    height: 38px;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #dadada;
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    float: left;
    display: block;
    border-radius: 5px 0 0 5px;
}

.form-group .form-input {
    float: left;
    width: 190px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -1px;
    height: 34px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    border-color: #dadada;
}

.form-group .form-select {
    float: left;
    width: 202px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -1px;
    height: 38px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    border-radius: 0 2px 2px 0;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    border-color: #ccc;
}

input#searchlist {
    float: right;
    height: 38px;
    line-height: 30px;
    background: #00A3FF;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    border: none;
    padding: 0 30px;
    outline: none;
    position: absolute;
    bottom: 40px;
    right: 53px;
}

.top {
    width: 100%;
    height: 36px;
    background-color: #277b9d;
    line-height: 36px;
}

.top img {
    margin-left: 15px;
}

.rt-parmlist {
    position: absolute;
    top: 34px;
    bottom: 0px;
    /* height: 100%; */
    background-color: #fff;
    right: -395px;
    /* box-shadow: -9px 0px 13px #ddd; */
    width: 410px;
    transition: all .75s;
}

.rt-parmlist.on {
    right: 0px;
}

.rt-parmlist form {
    height: 100%;
}

.rt-side {
    height: 100%;
    display: block;
    float: left;
    width: 15px;
    background-color: #00A3FF;
    transition: all .75s;
}

.rt-side .rt-swicth {
    height: 30px;
    width: 30px;
    background-color: #00a3ff;
    display: block;
    position: relative;
    top: 50%;
    left: -15px;
    border-radius: 50%;
    transform: translateY(-50%);
    /* box-shadow: -9px 0px 13px #ddd; */
    transition: all .75s;
    background-image: url("../common/images/search.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.rt-parmlist.on .rt-side {
    background-color: #E6E5E5;
}

.rt-parmlist.on .rt-side .rt-swicth {
    background-color: #E6E5E5;
}

.rt-view {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
